*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  display: block; }

head {
  display: none; }

body {
  display: block;
  margin: 0;
  padding: 0; }

figcaption, footer, header,
nav, section, main {
  display: block;
  margin: 0;
  padding: 0; }

div, span, h1, h2, h3, h4, h5, h6, p,
pre, a, code, img, samp, strong, sub,
sup, var, b, dl, dt, dd, ol, ul, li,
table, caption, tbody, tfoot, thead,
tr, th, td, mark {
  margin: 0;
  padding: 0; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  margin: 0; }

@font-face {
  font-family: 'ALS Schlange Sans Bold';
  src: local("ALS Schlange Sans Bold"), local("ALS-Schlange-Sans-Bold"), url("../assets/font/ALSSchlangesans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'ALS Schlange Sans Black';
  src: local("ALS Schlange Sans Black"), local("ALS-Schlange-Sans-Black"), url("../assets/font/ALSSchlangesans-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

body {
  font-family: 'ALS Schlange Sans'; }

button {
  font-family: 'ALS Schlange Sans'; }

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 46.77083vw;
  padding-top: 2.08333vw; }
  @media (max-width: 1024px) {
    .header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 34.76562vw;
      padding-top: 2.34375vw; } }
  .header__button-about-school {
    font-size: 2.08333vw;
    font-weight: 700;
    line-height: 2.44792vw;
    text-decoration: none;
    color: #FEFEFE;
    background-color: #0071FC;
    border: 0;
    border-radius: 5.20833vw;
    padding: 1.25vw 2.5vw; }
    @media (max-width: 1024px) {
      .header__button-about-school {
        font-size: 2.34375vw;
        font-weight: 700;
        line-height: 2.73438vw;
        text-decoration: none;
        color: #FEFEFE;
        background-color: #0071FC;
        border: 0;
        border-radius: 9.76562vw;
        padding: 1.95312vw 3.90625vw; } }
  .header__button-start-learn {
    font-size: 2.08333vw;
    font-weight: 700;
    line-height: 2.44792vw;
    text-decoration: none;
    color: #FEFEFE;
    background-color: #0071FC;
    border: 0;
    border-radius: 5.20833vw;
    padding: 1.25vw 2.5vw; }
    @media (max-width: 1024px) {
      .header__button-start-learn {
        font-size: 2.34375vw;
        font-weight: 700;
        line-height: 2.73438vw;
        text-decoration: none;
        color: #FEFEFE;
        background-color: #0071FC;
        border: 0;
        border-radius: 9.76562vw;
        padding: 1.95312vw 3.90625vw; } }
