// Header start
.header {
	@include flexSettings(flex,row,center,center,vwl(898));
	padding-top: vwl(40);
	@media (max-width: 1024px) {
		@include flexSettings(flex,row,center,center,vwt(356));
		padding-top: vwt(24);
	}
	@media (max-width: 390px) {
		@include flexSettings(flex,row,center,center,vwp(64));
		padding-top: vwp(12);
	}
	&__button-about-school {
		@include fontSettings(vwl(40),700,vwl(47),none,$white-color);
		background-color: $primary-color;
		border: 0;
		border-radius: vwl(100);
		padding: vwl(24) vwl(48);
		@media (max-width: 1024px) {
			@include fontSettings(vwt(24),700,vwt(28),none,$white-color);
			background-color: $primary-color;
			border: 0;
			border-radius: vwt(100);
			padding: vwt(20) vwt(40);
		}
		@media (max-width: 390px) {
			@include fontSettings(vwp(12),700,vwp(14),none,$white-color);
			background-color: $primary-color;
			border: 0;
			border-radius: vwp(100);
			padding: vwp(8) vwp(16);
		}
	}
	&__button-start-learn {
		@include fontSettings(vwl(40),700,vwl(47),none,$white-color);;
		background-color: $primary-color;
		border: 0;
		border-radius: vwl(100);
		padding: vwl(24) vwl(48);
		@media (max-width: 1024px) {
			@include fontSettings(vwt(24),700,vwt(28),none,$white-color);
			background-color: $primary-color;
			border: 0;
			border-radius: vwt(100);
			padding: vwt(20) vwt(40);
		}
		@media (max-width: 390px) {
			@include fontSettings(vwp(12),700,vwp(14),none,$white-color);
			background-color: $primary-color;
			border: 0;
			border-radius: vwp(100);
			padding: vwp(8) vwp(16);
		}
	}
}
// Header end

// Hero start 
.hero {
	background-color: $secondary-color;
	@include sizeSettings(vwl(1856), vwl(980));
	border-radius: vwl(64);
	margin: vwl(32) auto 0;
	position: relative;
	@media (max-width: 1024px) {
		@include sizeSettings(vwt(976), vwt(516));
		border-radius: vwt(32);
		margin: vwt(24) auto 0;
	}
	@media (max-width: 390px) {
		@include sizeSettings(vwp(358), vwp(190));
		border-radius: vwp(12);
		margin: vwp(16) auto 0;
	}
	&__heading {
		@include fontSettings(vwl(120),700,vwl(120),none,$white-color);
		padding-top: vwl(93);
		padding-left: vwl(80);
		@media (max-width: 1024px) {
			@include fontSettings(vwt(64),700,vwt(68),none,$white-color);
			padding-top: vwt(52);
			padding-left: vwt(40);
		}
		@media (max-width: 390px) {
			@include fontSettings(vwp(24),700,vwp(24),none,$white-color);
			padding-top: vwp(18);
			padding-left: vwp(16);
		}
	}
	&__dop-text {
		@include fontSettings(vwl(40),700,vwl(47),none,$white-color);
		background-color: $primary-color;
		padding: vwl(24) vwl(48);
		border-radius: vwl(100);
		@include positionSettings(absolute,vwl(292),none,none,vwl(820));
		transform: rotate(-6.38deg);
		@media (max-width: 1024px) {
			@include fontSettings(vwt(20),700,vwt(23),none,$white-color);
			padding: vwt(14) vwt(28);
			border-radius: vwt(100);
			@include positionSettings(absolute,vwt(168),none,none,vwt(434));
			transform: matrix(1, -0.06, 0.06, 1, 0, 0);
		}
		@media (max-width: 390px) {
			@include fontSettings(vwp(8),700,vwp(9),none,$white-color);
			padding: vwp(4) vwp(8);
			border-radius: vwp(100);
			@include positionSettings(absolute,vwp(58),none,none,vwp(158));
			transform: matrix(1, -0.09, 0.09, 1, 0, 0);
		}
	}
	&__dog {
		@include sizeSettings(vwl(456), vwl(643));
		@include positionSettings(absolute,vwl(315),none,none,vwl(1400));
		@media (max-width: 1024px) {
			@include sizeSettings(vwt(240), vwt(338));
			@include positionSettings(absolute,vwt(162),none,none,vwt(736));
		}
		@media (max-width: 390px) {
			@include sizeSettings(vwp(88), vwp(124));
			@include positionSettings(absolute,vwp(58),none,none,vwp(270));
		}
	}
}

.card-reviews {
	padding-top: vwl(32);
	background-color: $white-color;
	border-radius: vwl(40);
	box-shadow: vwl(8) vwl(8) vwl(24) vwl(8) rgba(0, 0, 0, 0.08);
	@include sizeSettings(vwl(640), vwl(360));
	@include positionSettings(absolute,vwl(553),none,none,vwl(80));
	@media (max-width: 1024px) {
		padding-top: vwt(16);
		border-radius: vwt(20);
		box-shadow: vwt(4) vwt(4) vwt(12) vwt(4) rgba(0, 0, 0, 0.08);
		@include sizeSettings(vwt(336), vwt(189));
		@include positionSettings(absolute,vwt(291),none,none,vwt(40));
	}
	@media (max-width: 390px) {
		padding-top: vwp(4);
		border-radius: vwp(8);
		box-shadow: vwp(1) vwp(1) vwp(4) vwp(1) rgba(0, 0, 0, 0.08);
		@include sizeSettings(vwp(124), vwp(68));
		@include positionSettings(absolute,vwp(108),none,none,vwp(16));
	}
	&__top {
		@include flexSettings(flex,row,center,center,vwl(213));
		@media (max-width: 1024px) {
			@include flexSettings(flex,row,center,center,vwt(110));
		}
		@media (max-width: 390px) {
			@include flexSettings(flex,row,center,center,vwp(43));
		}
		&-number {
			@include fontSettings(vwl(96),700,vwl(120),none,$secondary-color);
			@media (max-width: 1024px) {
				@include fontSettings(vwt(48),700,vwt(64),none,$secondary-color);
			}
			@media (max-width: 390px) {
				@include fontSettings(vwp(16),700,vwp(24),none,$secondary-color);
			}
		}
		&-icon {
			@include sizeSettings(vwl(108), vwl(108));
			@media (max-width: 1024px) {
				@include sizeSettings(vwt(56), vwt(56));
			}
			@media (max-width: 390px) {
				@include sizeSettings(vwp(20), vwp(20));
			}
		}
	}
	&__text {
		padding-top: vwl(12);
		padding-left: vwl(40);
		@include fontSettings(vwl(60),700,vwl(70),none,$primary-color);
		@media (max-width: 1024px) {
			@include fontSettings(vwt(32),700,vwt(37),none,$primary-color);
			padding-top: vwt(12);
			padding-left: vwt(24);
		}
		@media (max-width: 390px) {
			@include fontSettings(vwp(12),700,vwp(14),none,$primary-color);
			padding-top: vwp(4);
			padding-left: vwp(8);
		}
	}
}
// Hero end

// Reviews start
.reviews-row {
	@include flexSettings(flex,row,center,center,vwl(32));
	padding-top: vwl(32);
	@media (max-width: 1024px) {
		@include flexSettings(flex,column,center,center,vwt(24));
		padding-top: vwt(24);
	}
	@media (max-width: 390px) {
		@include flexSettings(flex,column,center,center,vwp(16));
		padding-top: vwp(16);
	}
}

.reviews-block {
	@include sizeSettings(vwl(912), vwl(912));
	background-color: $primary-color;
	border-radius: vwl(64);
	@media (max-width: 1024px) {
		@include sizeSettings(vwt(976), vwt(976));
		border-radius: vwt(48);
	}
	@media (max-width: 390px) {
		@include sizeSettings(vwp(358), vwp(358));
		border-radius: vwp(20);
	}
	&__heading {
		@include fontSettings(vwl(96),900,vwl(120),none,$white-color);
		padding-top: vwl(96);
		padding-left: vwl(48);
		@media (max-width: 1024px) {
			@include fontSettings(vwt(96),900,vwt(120),none,$white-color);
			padding-top: vwt(82);
			padding-left: vwt(48);
		}
		@media (max-width: 390px) {
			@include fontSettings(vwp(32),900,vwp(40),none,$white-color);
			padding-top: vwp(32);
			padding-left: vwp(20);
		}
	}
	&__card {
		@include sizeSettings(vwl(816), vwl(217));
		background-color: $orange-color;
		border-radius: vwl(200);
		margin: vwl(107) auto 0;
		@include flexSettings(flex,row,center,flex-start,vwl(24));
		@media (max-width: 1024px) {
			@include sizeSettings(vwt(873), vwt(233));
			border-radius: vwt(200);
			margin: vwt(120) auto 0;
			@include flexSettings(flex,row,center,flex-start,vwt(24));
		}
		@media (max-width: 390px) {
			@include sizeSettings(vwp(320), vwp(84));
			border-radius: vwp(80);
			margin: vwp(50) auto 0;
			@include flexSettings(flex,row,center,flex-start,vwp(12));
		}
		&-img {
			@include sizeSettings(vwl(216), vwl(216));
			@media (max-width: 1024px) {
				@include sizeSettings(vwt(232), vwt(232));
			}
			@media (max-width: 390px) {
				@include sizeSettings(vwp(84), vwp(84));
			}
		}
		&-review {
			&-name {
				@include fontSettings(vwl(48),700,vwl(56),none,$white-color);
				@media (max-width: 1024px) {
					@include fontSettings(vwt(48),700,vwt(64),none,$white-color);
				}
				@media (max-width: 390px) {
					@include fontSettings(vwp(16),700,vwp(22),none,$white-color);
				}
			}
			&-text {
				@include fontSettings(vwl(24),700,vwl(30),none,$white-color);
				@media (max-width: 1024px) {
					@include fontSettings(vwt(24),700,vwt(32),none,$white-color);
				}
				@media (max-width: 390px) {
					@include fontSettings(vwp(8),700,vwp(12),none,$white-color);
				}
			}
		}
	}
	&__toggle {
		padding-top: vwl(40);
		@include flexSettings(flex,row,center,center,vwl(24));
		@media (max-width: 1024px) {
			padding-top: vwt(48);
			@include flexSettings(flex,row,center,center,vwt(24));
		}
		@media (max-width: 390px) {
			padding-top: vwp(20);
			@include flexSettings(flex,row,center,center,vwp(10));
		}
		&-dot {
			cursor: pointer;
			height: vwl(28);
			width: vwl(28);
			background-color: $gray-color;
			border-radius: vwl(100);
			@media (max-width: 1024px) {
				height: vwt(32);
				width: vwt(32);
				border-radius: vwt(100);
			}
			@media (max-width: 390px) {
				height: vwp(12);
				width: vwp(12);
				border-radius: vwp(100);
			}
		}
	}
}

.building-block {
	@include sizeSettings(vwl(912), vwl(912));
	border-radius: vwl(64);
	@media (max-width: 1024px) {
		@include sizeSettings(vwt(976), vwt(976));
		border-radius: vwt(48);
	}
	@media (max-width: 390px) {
		@include sizeSettings(vwp(358), vwp(358));
		border-radius: vwp(20);
	}
}
// Reviews end

// Price start
.price-row {
	@include flexSettings(flex,row,center,center,vwl(32));
	padding-top: vwl(32);
	@media (max-width: 1024px) {
		@include flexSettings(flex,column,center,center,vwt(24));
		padding-top: vwt(24);
	}
	@media (max-width: 390px) {
		@include flexSettings(flex,column,center,center,vwp(16));
		padding-top: vwp(16);
	}
}

.price-block {
	@include sizeSettings(vwl(912), vwl(912));
	background-color: $secondary-color;
	border-radius: vwl(64);
	position: relative;
	@media (max-width: 1024px) {
		@include sizeSettings(vwt(976), vwt(976));
		border-radius: vwt(48);
	}
	@media (max-width: 390px) {
		@include sizeSettings(vwp(358), vwp(358));
		border-radius: vwp(20);
	}
	&__heading {
		@include fontSettings(vwl(96),900,vwl(120),none,$white-color);
		padding-top: vwl(96);
		padding-left: vwl(48);
		@media (max-width: 1024px) {
			@include fontSettings(vwt(96),900,vwt(120),none,$white-color);
			padding-top: vwt(82);
			padding-left: vwt(48);
		}
		@media (max-width: 390px) {
			@include fontSettings(vwp(32),900,vwp(40),none,$white-color);
			padding-top: vwp(32);
			padding-left: vwp(20);
		}
	}
	&__text {
		@include fontSettings(vwl(48),700,vwl(68),none,$white-color);
		padding-top: vwl(89);
		padding-left: vwl(64);
		@media (max-width: 1024px) {
			@include fontSettings(vwt(48),700,vwt(68),none,$white-color);
			padding-top: vwt(135);
			padding-left: vwt(69);
		}
		@media (max-width: 390px) {
			@include fontSettings(vwp(16),700,vwp(24),none,$white-color);
			padding-top: vwp(48);
			padding-left: vwp(25);
		}
	}
	&__btn-start-learn {
		@include fontSettings(vwl(40),700,vwl(47),none,$white-color);
		background-color: $primary-color;
		border: 0;
		border-radius: vwl(100);
		padding: vwl(24) vwl(322);
		margin-top: vwl(68);
		margin-left: vwl(64);
		@media (max-width: 1024px) {
			@include fontSettings(vwt(40),700,vwt(47),none,$white-color);
			border-radius: vwt(100);
			padding: vwt(28) vwt(350);
			margin-top: vwt(68);
			margin-left: vwt(69);
		}
		@media (max-width: 390px) {
			@include fontSettings(vwp(16),700,vwp(19),none,$white-color);
			border-radius: vwp(100);
			padding: vwp(10) vwp(126);
			margin-top: vwp(32);
			margin-left: vwp(25);
		}
	}
	&__icon-sale {
		@include sizeSettings(vwl(164),vwl(164));
		@include positionSettings(absolute,vwl(320),none,none,vwl(684));
		transform: rotate(8deg);
		@media (max-width: 1024px) {
			@include sizeSettings(vwt(175),vwt(175));
			@include positionSettings(absolute,vwt(328),none,none,vwt(728));
			transform: rotate(10deg);
		}
		@media (max-width: 390px) {
			@include sizeSettings(vwp(64),vwp(64));
			@include positionSettings(absolute,vwp(120),none,none,vwp(266));
			transform: rotate(8deg);
		}
	}
}
// Price end

// How to learn start
.how-to-learn {
	@include sizeSettings(vwl(1856),vwl(1040));
	background-color: $primary-color;
	border-radius: vwl(64);
	margin: vwl(32) auto 0;

	&__heading {
		@include fontSettings(vwl(96),900,vwl(120),none,$white-color);
		padding-top: vwl(64);
		padding-left: vwl(68);
	}

	&__row-top {
		padding-top: vwl(64);
		padding-left: vwl(68);
		@include flexSettings(flex,row,flex-start,flex-start,vwl(66));
	}

	&__row-bottom {
		padding-top: vwl(80);
		padding-left: vwl(68);
		@include flexSettings(flex,row,flex-start,flex-start,vwl(64));
	}

	&__content {
		@include flexSettings(flex,column,flex-start,flex-start,vwl(24));
		&-heading {
			@include flexSettings(flex,row,center,flex-start,vwl(24));
			span {
				background-color: $secondary-color;
				@include fontSettings(vwl(40),700,vwl(47),none,$white-color);
				padding: vwl(8) vwl(48);
				border-radius: vwl(100);

			}
			h3 {
				@include fontSettings(vwl(60),700,vwl(70),none,$white-color);
			}
		}
		&-text {
			@include fontSettings(vwl(32),700,vwl(44),none,$white-color);
		}
	}
}

