$primary-color: #0071FC;
$secondary-color: #FFC200;
$white-color: #FEFEFE;
$light-gray-color: #EEF0F4;
$gray-color: #B2B2BB;
$dark-gray-color: #6C6D76;
$orange-color: #DFAD0C;
$light-yellow-color: #FFDB68;
$primary-color-hover: #1265CB;
$secondary-color-hover: #EFB90E;
$black-color: #111112;
